.relative.bg-gray-800.overflow-hidden
  .relative.pb-12
    main.mt-8(class="mt-16")
      .mx-auto.max-w-screen-xl
        div
          .px-4(class="sm:px-6 text-center max-w-2xl mx-auto")
            div
              .mt-12(class="lg:mt-0")
                img.mx-auto(src="images/my_love_and_i.png" width="225" height="225")
              h2.mt-4.text-5xl.tracking-tight.leading-10.font-extrabold.text-white.text-center(class="mt-5 leading-none")
                | Hey there!
                br.hidden
                span.text-indigo-400  I'm Gabe
              p.mt-3.text-base.text-gray-300.text-center(class="sm:mt-5 sm:text-xl lg:text-lg xl:text-xl")
                | I'm a software engineer who currently lives in West Palm Beach, FL. I've worked with multiple technologies across the entire stack and consider myself language and framework agnostic. I'm deeply passionate about my craft and I'm always striving to expand my toolset.
              p.mt-8.text-sm.text-white.uppercase.tracking-wide.font-semibold.text-center(class="sm:mt-10") Let's connect
              .mt-5.w-full.flex.flex-wrap.justify-center
                .px-1
                  a(href="https://github.com/gabedealmeida")
                    svg.text-indigo-200(height="40" width="42" role="img" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="currentColor")
                      title GitHub icon
                      path(d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12")
                .px-1
                  a(href="https://linkedin.com/in/gabriel-dealmeida")
                    svg.text-indigo-200(height="40" width="40" role="img" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="currentColor")
                      title LinkedIn icon
                      path(d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z")
                .px-1
                  a(href="/images/Gabriel_De_Almeida_Resume.pdf" title="Resume")
                    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="40" height="40" x="0" y="0" viewbox="0 0 496.231 496.231" style="enable-background:new 0 0 512 512" xml:space="preserve")
                      g
                        path(xmlns="http://www.w3.org/2000/svg" d="m389.145 0h-282c-26.468 0-48 21.533-48 48 0 356.953-.389 335.402.829 339.058.817 2.446 2.185 4.573 3.831 6.227.998 1.002 98.184 98.301 99.598 99.387 6.322 4.869-3.396 3.328 225.742 3.328 26.468 0 48-21.533 48-48v-400c0-26.467-21.532-48-48-48zm-232 441.373-43.373-43.373h43.373zm248 6.627c0 8.822-7.178 16-16 16h-200v-82c0-8.836-7.163-16-16-16h-82v-318c0-8.822 7.178-16 16-16h282c8.822 0 16 7.178 16 16zm-51-125c0 8.836-7.163 16-16 16h-181c-8.837 0-16-7.164-16-16s7.163-16 16-16h181c8.837 0 16 7.164 16 16zm0 82c0 8.836-7.163 16-16 16h-103c-8.837 0-16-7.164-16-16s7.163-16 16-16h103c8.837 0 16 7.164 16 16zm-106.656-236.923c29.694 0 53.852-24.158 53.852-53.852s-24.157-53.852-53.852-53.852-53.852 24.158-53.852 53.852 24.158 53.852 53.852 53.852zm0-75.704c12.049 0 21.852 9.803 21.852 21.852s-9.803 21.852-21.852 21.852-21.852-9.803-21.852-21.852 9.803-21.852 21.852-21.852zm-81.019 154.078v-21.938c0-13.835 8.163-26.42 20.797-32.062l25.376-11.331c4.255-1.9 1.275-1.39 62.806-1.39 4.498 0 4.344.417 31.899 12.72 12.634 5.642 20.797 18.227 20.797 32.062v21.938c0 8.836-7.163 16-16 16s-16-7.164-16-16v-21.938c0-1.227-.724-2.342-1.844-2.842l-22.263-9.94h-49.462l-22.263 9.94c-1.12.5-1.844 1.616-1.844 2.842v21.938c0 8.836-7.163 16-16 16s-15.999-7.163-15.999-15.999z" fill="#cddbfe" data-original="#000000" style="")
                .px-1
                  script.
                    ML=`e/ioh lr\\g<=c.mtad>:b@f`;
                    MI=":@5470F;8>@26?3C40663E9@D7206A0@6>02A@=<3>8B:1@B";
                    OT="";
                    for(j=0;j<MI.length;j++){
                    OT+=ML.charAt(MI.charCodeAt(j)-48);
                    }
                    let arr = OT.split('</a>').slice(0, 1);
                    arr.push(`${`<svg class="text-indigo-200" title="Email" height="40" width="38" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg></a>`}`)
                    document.write(arr.join(''));
      a(href="#campion")
        .flex.items-center.pt-5.pb-4
          svg.animate-bounce.h-15.w-15.text-gray-500.flex-1(xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor")
            path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7")
.relative.pt-20.pb-20.px-4.bg-orange-50(class="sm:px-6 lg:pt-20 lg:pb-28 lg:px-8")
  .pt-5
  .relative.max-w-7xl.mx-auto
    .text-center
      .pt-3
        a(name="campion")
          h2.text-center.text-3xl.font-extrabold.text-orange-400.mb-12(class="sm:text-4xl")
            | I Co-Founded Campion
    .mt-12.grid.gap-5.max-w-lg.mx-auto(class="lg:grid-cols-2 lg:max-w-6xl")
      .flex.flex-col
        p.mt-1.text-lg.leading-7.text-gray-900.mb-5.text-center(class="lg:text-left")
          | Campion is an edge-based serverless framework for implementing circuit-breaking functionality for synchronously called external services.
        p.mt-1.text-lg.leading-7.text-gray-900.mb-5.text-center(class="lg:text-left")
          | Campion gives engineers the peace of mind that should their synchronously called services fail, a failure is returned immediately, thereby sheltering their system from cascading failures, giving their failed services time to recover, and providing their end user with a better experience.
        p.mt-1.text-lg.leading-7.text-gray-900.mb-5.text-center(class="lg:text-left")
          | Read more about the project:
          a(href="https://campion-breaker.github.io/")
            button.inline-flex.items-center.mx-3.px-3.py-2.border.border-transparent.text-sm.leading-3.font-small.rounded-md.shadow-sm.text-white.bg-orange-400(type="button" class="hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500")
              | Case Study
        p.mt-1.text-lg.leading-7.text-gray-900.mb-5.text-center(class="lg:text-left")
          | Try it out:
          a(href="https://github.com/campion-breaker/campion")
            button.inline-flex.items-center.mx-3.px-3.py-2.border.border-transparent.text-sm.leading-3.font-small.rounded-md.shadow-sm.text-white.bg-orange-400(type="button" class="hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500")
              | Campion
        p.mt-1.text-lg.leading-7.text-gray-900.mb-3.text-center(class="lg:text-left")
          | Watch the talk I recently gave on Campion:
        iframe(src="https://www.youtube.com/embed/jYcF36WyYWs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="mx-auto lg:mx-0 lg:w-1/2")
      .flex.flex-col
        img(src="images/campion-setup.gif")
.relative.pt-10.pb-20.px-4(class="sm:px-6 lg:pt-20 lg:pb-28 lg:px-8")
  .absolute.inset-0
    .bg-white(class="h-1/3 sm:h-2/3")
  .relative.max-w-7xl.mx-auto
    .text-center
      .pt-3
        a(name="projects")
          h2.text-center.text-3xl.font-extrabold.text-red-400(class="sm:text-4xl")
            | Projects
      p.mt-3.max-w-2xl.mx-auto.text-xl.leading-7.text-gray-500(class="sm:mt-4")
        | Here's a few of my latest projects.
    .mt-12.grid.gap-5.max-w-lg.mx-auto(class="lg:grid-cols-3 lg:max-w-none")
      .flex.flex-col.rounded-lg.shadow-lg.overflow-hidden
        a.block(href="https://github.com/gabedealmeida/team-tickets")
          .flex-shrink-0
            img.h-48.w-full.object-top(src="images/team_tickets.png" alt="")
          .flex-1.bg-white.p-6.flex.flex-col.justify-between
            .flex-1
              p.text-sm.leading-5.font-medium.text-indigo-600.pb-5
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Ruby
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Rails 6
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   PostgreSQL
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Bootstrap
              h3.mt-2.text-xl.leading-7.font-semibold.text-gray-900
                | Team Tickets 📝
              p.mt-3.text-base.leading-6.text-gray-500
                | A project manager with ticketing, tagging, commenting, and status-changing ability. Team Tickets has a focus on efficiency, simplicity, beauty, and most importantly on getting the job done!
      .flex.flex-col.rounded-lg.shadow-lg.overflow-hidden
        a.block(href="https://github.com/gabedealmeida/airline-routes")
          .flex-shrink-0
            img.h-48.w-full.object-cover(src="images/airline_routes.png" alt="")
          .flex-1.bg-white.p-6.flex.flex-col.justify-between
            .flex-1
              p.text-sm.leading-5.font-medium.text-indigo-600.pb-5
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Javascript
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   React
              h3.mt-2.text-xl.leading-7.font-semibold.text-gray-900
                | Airline routes ✈️
              p.mt-3.text-base.leading-6.text-gray-500
                | A beautiful application with a map that accurately displays airport locations based on latitudinal and longitudinal coordinates, that get updated instantaneously with every filtering and page change.
      .flex.flex-col.rounded-lg.shadow-lg.overflow-hidden
        a.block(href="https://github.com/gabedealmeida/peachy-contact-manager")
          .flex-shrink-0
            img.h-48.w-full.object-cover(src="images/peachy.png" alt="")
          .flex-1.bg-white.p-6.flex.flex-col.justify-between
            .flex-1
              p.text-sm.leading-5.font-medium.text-indigo-600.pb-5
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Javascript
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   jQuery
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   SPA
              h3.mt-2.text-xl.leading-7.font-semibold.text-gray-900
                | Peachy Contact Manager 🍑
              p.mt-3.text-base.leading-6.text-gray-500
                | A seamless, efficient, single page contact manager. It performs the bulk of its operations in memory, removing the need for expensive database interactions.
