.relative.bg-gray-800.overflow-hidden.h-screen
  .relative.pb-12
    main(class="mt-16")
      .mx-auto.max-w-screen-xl
        div.mb-3
          .px-4(class="sm:px-6 text-center max-w-2xl mx-auto")
            div
              .mt-12(class="lg:mt-0")
                img.mx-auto(src="images/Gabriel_De_Almeida.png" width="200" height="200")
              h2.mt-6.text-5xl.tracking-tight.leading-10.font-extrabold.text-white.text-center(class="mt-5 leading-none")
                | Hey there!
                br.hidden
                span.text-indigo-400  I'm Gabe
              p.mt-3.text-base.text-gray-300.text-center(class="sm:mt-5 sm:text-xl lg:text-lg xl:text-xl")
                | I'm a software engineer who currently lives in West Palm Beach, FL. I've worked with multiple technologies across the entire stack and consider myself language and framework agnostic. I'm deeply passionate about my craft and I'm always striving to expand my toolset.
              p.mt-3.text-base.text-gray-300.text-center(class="sm:mt-2 sm:text-xl lg:text-lg xl:text-xl")
                a(href="/images/Gabriel_De_Almeida_Resume.pdf")
                  button.inline-flex.items-center.px-3.py-2.border.border-transparent.text-m.leading-4.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(type="button" class="hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500")
                    | resume
      a(href="#campion")
        .flex.items-center.pt-5.pb-4
          svg.animate-bounce.h-15.w-15.text-gray-500.flex-1(xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor")
            path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7")
.relative.pt-20.pb-20.px-4.bg-orange-50(class="sm:px-6 lg:pt-20 lg:pb-28 lg:px-8")
  .pt-5
  .relative.max-w-7xl.mx-auto
    .text-center
      .pt-3
        a(name="campion")
          h2.text-center.text-3xl.font-extrabold.text-orange-400.mb-12(class="sm:text-4xl")
            | I Co-Created Campion
    .mt-12.grid.gap-5.max-w-lg.mx-auto(class="sm:grid-cols-2 sm:max-w-none")
      .flex.flex-col
        p.mt-1.text-lg.leading-7.text-gray-900.mb-5.text-center(class="sm:text-left")
          | Campion is an edge-based serverless framework for implementing circuit-breaking functionality for synchronously called external services.
        p.mt-1.text-lg.leading-7.text-gray-900.mb-5.text-center(class="sm:text-left")
          | Campion gives engineers the peace of mind that should their synchronously called services fail, a failure is returned immediately, thereby sheltering their system from cascading failures, giving their failed services time to recover, and providing their end user with a better experience.
        p.mt-1.text-lg.leading-7.text-gray-900.mb-5.text-center(class="sm:text-left")
          | Read more about the project:
          span.mx-1
          a(href="https://campion-breaker.github.io/")
            button.inline-flex.items-center.px-3.py-2.border.border-transparent.text-sm.leading-3.font-semibold.rounded-md.shadow-sm.text-white.bg-orange-400(type="button" class="hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500")
              | Case Study
        p.mt-1.text-lg.leading-7.text-gray-900.mb-3.text-center(class="sm:text-left")
          | Watch the talk I recently gave on Campion:
        iframe(src="https://www.youtube.com/embed/jYcF36WyYWs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="mx-auto sm:mx-0 sm:w-1/2")
      a(href="https://campion-breaker.github.io/")
        .flex.flex-col
          img(src="images/campion-setup.gif")
.relative.pt-10.pb-20.px-4(class="sm:px-6 lg:pt-20 lg:pb-28 lg:px-8")
  .absolute.inset-0
    .bg-white(class="h-1/3 sm:h-2/3")
  .relative.max-w-7xl.mx-auto
    .text-center
      .pt-3
        a(name="projects")
          h2.text-center.text-3xl.font-extrabold.text-red-400(class="sm:text-4xl")
            | Projects
      p.mt-3.max-w-2xl.mx-auto.text-xl.leading-7.text-gray-500(class="sm:mt-4")
        | Here's a few of my latest projects.
    .mt-12.grid.gap-5.max-w-lg.mx-auto(class="sm:grid-cols-3 sm:max-w-none")
      .flex.flex-col.rounded-lg.shadow-lg.overflow-hidden
        div
          .flex-shrink-0
            img.h-48.w-full.object-top(src="images/team_tickets.png" alt="")
          .flex-1.bg-white.p-6.flex.flex-col.justify-between
            .flex-1
              p.text-sm.leading-5.font-medium.text-indigo-600.pb-5
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Ruby
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Rails 6
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   PostgreSQL
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Bootstrap
              h3.mt-2.text-xl.leading-7.font-semibold.text-gray-900
                | Team Tickets 📝
              p.mt-3.text-base.leading-6.text-gray-500
                | A project manager with ticketing, tagging, commenting, and status-changing ability. Team Tickets has a focus on efficiency, simplicity, beauty, and most importantly on getting the job done!
      .flex.flex-col.rounded-lg.shadow-lg.overflow-hidden
        div
          .flex-shrink-0
            img.h-48.w-full.object-cover(src="images/airline_routes.png" alt="")
          .flex-1.bg-white.p-6.flex.flex-col.justify-between
            .flex-1
              p.text-sm.leading-5.font-medium.text-indigo-600.pb-5
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Javascript
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   React
              h3.mt-2.text-xl.leading-7.font-semibold.text-gray-900
                | Airline routes ✈️
              p.mt-3.text-base.leading-6.text-gray-500
                | A beautiful application with a map that accurately displays airport locations based on latitudinal and longitudinal coordinates, that get updated instantaneously with every filtering and page change.
      .flex.flex-col.rounded-lg.shadow-lg.overflow-hidden
        div
          .flex-shrink-0
            img.h-48.w-full.object-cover(src="images/peachy.png" alt="")
          .flex-1.bg-white.p-6.flex.flex-col.justify-between
            .flex-1
              p.text-sm.leading-5.font-medium.text-indigo-600.pb-5
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   Javascript
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   jQuery
                span.inline-flex.items-center.rounded-full.text-xs.font-medium.leading-4.bg-indigo-100.text-indigo-800(class="px-2.5 py-0.5")
                  svg.h-2.w-2.text-indigo-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                    circle(cx="4" cy="4" r="3")
                  |                   SPA
              h3.mt-2.text-xl.leading-7.font-semibold.text-gray-900
                | Peachy Contact Manager 🍑
              p.mt-3.text-base.leading-6.text-gray-500
                | A seamless, efficient, single page contact manager. It performs the bulk of its operations in memory, removing the need for expensive database interactions.
